* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

polyline {
    animation: dash 1s linear;
    -webkit-animation: dash 1s linear infinite;
}

@keyframes dash {
   
    from {
        stroke-dashoffset: 0
      }

      to {
        stroke-dashoffset: 100;
      }
}